In [64]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [65]:
df = pd.read_csv('data.csv')

In [73]:
cols = df.columns

In [75]:
for col in cols:
    print(col, ' : ',df[col].isna().sum() )

Unnamed: 0  :  0
category  :  0
rating  :  0
label  :  0
text_  :  1
length  :  0

In [78]:
df['text_'].fillna(' ')

0         love well made sturdi comfort love itveri pretti
1             love great upgrad origin ive mine coupl year
2                   pillow save back love look feel pillow
3                      miss inform use great product price
4                      nice set good qualiti set two month
                               ...
40427    read review say bra ran small order two band c...
40428    wasnt sure exactli would littl larg small size...
40429    wear hood wear hood wear jacket without hood s...
40430    like noth dress reason gave star order size fi...
40431    work wed industri work long day foot outsid he...
Name: text_, Length: 40432, dtype: object

In [79]:
for col in cols:
    print(col, ' : ',df[col].isna().sum() )

Unnamed: 0  :  0
category  :  0
rating  :  0
label  :  0
text_  :  1
length  :  0

In [80]:
df.loc[df['text_'].isna()]

       Unnamed: 0                      category  rating label text_  length
37914       37914  Clothing_Shoes_and_Jewelry_5       4  fake   NaN       0

In [84]:
df['text_'].dropna()

0         love well made sturdi comfort love itveri pretti
1             love great upgrad origin ive mine coupl year
2                   pillow save back love look feel pillow
3                      miss inform use great product price
4                      nice set good qualiti set two month
                               ...
40427    read review say bra ran small order two band c...
40428    wasnt sure exactli would littl larg small size...
40429    wear hood wear hood wear jacket without hood s...
40430    like noth dress reason gave star order size fi...
40431    work wed industri work long day foot outsid he...
Name: text_, Length: 40431, dtype: object

In [101]:
df.loc[df['text_'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, category, rating, label, text_, length]
Index: []

In [87]:
df['text_'][21654]

'soooooooo beauti love gold version last year paint start chip go last lifetim okay price right beauti'

In [88]:
df['text_'][37914] = 'soooooooo beauti love gold version last year paint start chip go last lifetim okay price right beauti'

C:\Users\DELL\AppData\Local\Temp/ipykernel_9244/142577206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_'][37914] = 'soooooooo beauti love gold version last year paint start chip go last lifetim okay price right beauti'

In [89]:
df.loc[df['text_'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, category, rating, label, text_, length]
Index: []

In [90]:
for col in cols:
    print(col, ' : ',df[col].isna().sum())

Unnamed: 0  :  0
category  :  0
rating  :  0
label  :  0
text_  :  0
length  :  0

In [92]:
df.to_csv('data.csv')