In [15]:
import pandas
df = pandas.read_csv('data.csv')
df.tail()

,Unnamed: 0,Unnamed: 0.1,category,rating,label,text_
40427,40427,40427,Clothing_Shoes_and_Jewelry_5,4,Original,i had read some review say that thi bra ran sm...
40428,40428,40428,Clothing_Shoes_and_Jewelry_5,5,Fake,i wasn't sure exactli what it would be. it is ...
40429,40429,40429,Clothing_Shoes_and_Jewelry_5,2,Original,"you can wear the hood by itself, wear it with ..."
40430,40430,40430,Clothing_Shoes_and_Jewelry_5,1,Fake,i like noth about thi dress. the onli reason i...
40431,40431,40431,Clothing_Shoes_and_Jewelry_5,5,Original,i work in the wed industri and have to work lo...